@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  border: none;
  height: auto;
}

.swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1) !important;
  z-index: 2;

  height: 424px;
  width: 363px;
}

.swiper-slide-prev {
  transform: scale(0.9) translateX(50%) !important;
}

.swiper-slide-next {
  transform: scale(0.9) translateX(-50%) !important;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .bg-blur {
    @apply fixed inset-0 z-30 bg-black/50;
  }
}

/* https://mtm.dev/sticky-stuck-styles */
